<div class="btn-group flex-wrap w-100">
  <button class="btn btn-success">
    One
  </button>
  <button class="btn btn-success">
    Two
  </button>
  <button class="btn btn-success">
    Three
  </button>
  <button class="btn btn-success">
    Four
  </button>
  <button class="btn btn-success">
    Five
  </button>
  <button class="btn btn-success">
    Six
  </button>
  <button class="btn btn-success">
    Seven
  </button>
  <button class="btn btn-success">
    Eight
  </button>
  <button class="btn btn-success">
    Nine
  </button>
  <button class="btn btn-success">
    Ten
  </button>
</div>

