<div class="btn-group flex-wrap w-100">
  <button class="btn btn-success">
    One
  </button>
  <div class="btn-group" ngbDropdown>
    <button class="btn btn-success" ngbDropdownToggle>
      Two
    </button>
    <div ngbDropdownMenu>
      <button ngbDropdownItem>2.1</button>
      <button ngbDropdownItem>2.2</button>
      <button ngbDropdownItem>2.3</button>
    </div>
  </div>
  <div class="btn-group" ngbDropdown>
    <button class="btn btn-success" ngbDropdownToggle>
      Three
    </button>
    <div ngbDropdownMenu>
      <button ngbDropdownItem>3.1</button>
      <button ngbDropdownItem>3.2</button>
      <button ngbDropdownItem>3.3</button>
    </div>
  </div>
  <button class="btn btn-success">
    Four
  </button>
  <div class="btn-group" ngbDropdown>
    <button class="btn btn-success" ngbDropdownToggle>
      Five
    </button>
    <div ngbDropdownMenu>
      <button ngbDropdownItem>5.1</button>
      <button ngbDropdownItem>5.2</button>
      <button ngbDropdownItem>5.3</button>
    </div>
  </div>
  <div class="btn-group" ngbDropdown>
    <button class="btn btn-success" ngbDropdownToggle>
      Six
    </button>
    <div ngbDropdownMenu>
      <button ngbDropdownItem>6.1</button>
      <button ngbDropdownItem>6.2</button>
      <button ngbDropdownItem>6.3</button>
    </div>
  </div>
  <button class="btn btn-success">
    Seven
  </button>
  <div class="btn-group" ngbDropdown>
    <button class="btn btn-success" ngbDropdownToggle>
      Eight
    </button>
    <div ngbDropdownMenu>
      <button ngbDropdownItem>8.1</button>
      <button ngbDropdownItem>8.2</button>
      <button ngbDropdownItem>8.3</button>
    </div>
  </div>
  <button class="btn btn-success">
    Nine
  </button>
  <button class="btn btn-success">
    Ten
  </button>
</div>

